@layer frogbot {
  .list-controls {
    display: flex;
    flex-direction: column;
  }

  .view-controls__mobile-controls {
    display: none;
  }

  .view-controls__control-content {
    display: flex;
    align-items: center;
    gap: calc(var(--base) / 4);
  }

  .view-controls__control--active.pill {
    background: var(--theme-success-150);
    border: 1px solid var(--theme-success-250);
    color: var(--theme-success-800);
  }

  .view-controls__control--active.pill.pill--has-action:hover,
  .view-controls__control--active.pill.pill--has-action:active {
    background: var(--theme-success-200);
  }

  .view-controls__control-clear {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: var(--style-radius-s);
  }

  .view-controls__control-clear:hover {
    background: var(--theme-success-250);
  }

  .view-controls__control-clear:focus-visible {
    outline: var(--accessibility-outline);
    outline-offset: var(--accessibility-outline-offset);
  }

  .view-controls__control-clear .icon {
    width: calc(var(--base) * 0.9);
    height: calc(var(--base) * 0.9);
  }

  .list-controls .pill-selector,
  .list-controls .where-builder,
  .list-controls .sort-builder,
  .list-controls .group-by-builder {
    margin-top: calc(var(--base) / 2);
  }

  .view-controls #toggle-list-columns,
  .view-controls #toggle-list-filters,
  .view-controls #toggle-list-sort,
  .view-controls #toggle-group-by {
    display: none;
  }

  .sort-builder {
    background: var(--theme-elevation-50);
    padding: var(--base);
    display: flex;
    flex-direction: column;
    gap: calc(var(--base) / 2);
  }

  .sort-builder__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .sort-builder__clear-button {
    background: transparent;
    border: none;
    color: var(--theme-elevation-500);
    line-height: inherit;
    cursor: pointer;
    font-size: inherit;
    padding: 0;
    text-decoration: underline;
  }

  .sort-builder__manual {
    background: var(--theme-elevation-0);
    border: 1px solid var(--theme-elevation-150);
    border-radius: var(--style-radius-s);
    color: var(--theme-elevation-800);
    cursor: pointer;
    padding: calc(var(--base) / 2);
    text-align: left;
  }

  .sort-builder__manual--active {
    background: var(--theme-success-150);
    border-color: var(--theme-success-250);
  }

  .sort-builder__row {
    display: flex;
    align-items: center;
    gap: var(--base);
  }

  .sort-builder__inputs {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: var(--base);
  }

  .sort-builder__inputs > * {
    flex-grow: 1;
    width: 50%;
  }

  .sort-builder__actions {
    flex-shrink: 0;
    display: flex;
    gap: calc(var(--base) / 2);
  }

  .sort-builder .btn {
    vertical-align: middle;
    margin: 0;
  }

  @media (max-width: 1024px) {
    .sort-builder__row {
      align-items: initial;
      gap: calc(var(--base) / 2);
    }

    .sort-builder__inputs {
      flex-direction: column;
      gap: calc(var(--base) / 2);
      align-items: stretch;
    }

    .sort-builder__inputs > * {
      width: 100%;
    }

    .sort-builder__actions {
      flex-direction: column;
      justify-content: space-between;
    }
  }

  @media (max-width: 768px) {
    .view-controls__mobile-controls {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: calc(var(--base) / 4);
      margin-top: calc(var(--base) / 2);
    }

    .list-controls .search-bar__actions .pill {
      padding: calc(var(--base) * 0.2) calc(var(--base) * 0.2) calc(var(--base) * 0.2)
        calc(var(--base) * 0.4);
      justify-content: space-between;
    }

    .list-controls__toggle-columns,
    .list-controls__toggle-where,
    .list-controls__toggle-sort,
    .list-controls__toggle-group-by {
      flex: 1;
    }

    .sort-builder {
      padding: calc(var(--base) / 2);
    }
  }
}
