.fb-code-block {
  overflow-x: auto;
  padding: 1rem;
  border-radius: var(--fb-radius-lg);
  background-color: var(--theme-base-50);
  font-size: var(--fb-text-sm);
  line-height: var(--fb-text-sm--line-height);
}

.fb-code-block--user {
  background-color: var(--fb-code-block-user-background);
}
