.fb-flag-part {
  border: 1px solid var(--theme-base-150);
  border-radius: var(--fb-radius-lg);
}

.fb-flag-part--paste,
.fb-flag-part--prompt {
  position: relative;
  width: 120px;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  color: var(--theme-base-900);
  background-color: var(--theme-base-200);
  font-size: var(--fb-text-xs);
  line-height: var(--fb-text-xs--line-height);
}

.fb-flag-part--paste {
  height: 120px;
}

.fb-flag-part--prompt {
  max-height: 120px;
}

.fb-flag-part__preview {
  display: -webkit-box;
  overflow: hidden;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-family: monospace;
  font-size: 10px;
  line-height: 1.375;
  opacity: 0.9;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

.fb-flag-part__preview--prompt {
  padding-bottom: 0.75rem;
}

.fb-flag-part__label {
  position: absolute;
  bottom: -0.5rem;
  left: 0.5rem;
  padding: 2px 0.5rem;
  border-radius: 9999px;
  color: var(--theme-base-300);
  background-color: var(--theme-base-300);
  font-size: 9px;
  font-weight: 600;
  letter-spacing: 0.025em;
  pointer-events: none;
}

.fb-flag-part--page-context {
  padding: 0.75rem;
  background-color: var(--theme-base-50);
}

.fb-flag-part__header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.fb-flag-part__favicon {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: var(--fb-radius-sm);
}

.fb-flag-part__url {
  color: var(--theme-base-600);
  font-size: var(--fb-text-xs);
  line-height: var(--fb-text-xs--line-height);
}

.fb-flag-part__content {
  margin-top: 0.5rem;
  white-space: pre-wrap;
  font-size: var(--fb-text-sm);
  line-height: var(--fb-text-sm--line-height);
}
