@layer frogbot {
  .fb-checkbox {
    display: inline-flex;
    width: 1rem;
    height: 1rem;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color: var(--theme-base-100);
    background: transparent;
    border: 1px solid var(--theme-base-850);
    border-radius: var(--fb-radius-sm);
  }
  .fb-checkbox--primary[data-state="checked"],
  .fb-checkbox--primary[data-state="indeterminate"] {
    background: var(--theme-base-850);
  }
  .fb-checkbox--secondary {
    border-color: var(--theme-brand-500);
  }
  .fb-checkbox--secondary[data-state="checked"],
  .fb-checkbox--secondary[data-state="indeterminate"] {
    background: var(--theme-brand-500);
  }
  .fb-checkbox__indicator,
  .fb-checkbox__indicator svg {
    width: 1rem;
    height: 1rem;
  }
}
