.fb-collapsible__trigger {
  display: flex;
  padding: 0.5rem 0.75rem;
  align-items: center;
  justify-content: space-between;
  color: inherit;
  font-size: var(--fb-text-sm);
  font-weight: 500;
  background: var(--theme-base-200);
  border: 1px solid var(--theme-base-300);
  border-radius: var(--fb-radius-lg);
}
.fb-collapsible__content {
  margin-top: 0.25rem;
  overflow: hidden;
  font-size: var(--fb-text-sm);
  box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
}
