.fb-input {
  display: flex;
  width: 100%;
  height: 2.25rem;
  appearance: none;
  padding: 0.25rem 0.75rem;
  border: 1px solid var(--theme-base-300);
  border-radius: var(--fb-radius-lg);
  outline: none;
  background-color: var(--theme-base-200);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  font-size: var(--fb-text-sm);
  line-height: var(--fb-text-sm--line-height);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fb-input::placeholder {
  color: var(--theme-base-600);
}

.fb-input:hover {
  border-color: var(--theme-base-400);
}

.fb-input:focus {
  border-color: var(--theme-base-500);
}

.fb-input:focus-visible {
  box-shadow:
    0 0 0 1px var(--theme-brand-500),
    0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.fb-input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.fb-input::file-selector-button {
  border: 0;
  background-color: transparent;
  color: var(--theme-base-900);
  font-size: var(--fb-text-sm);
  line-height: var(--fb-text-sm--line-height);
  font-weight: 500;
}

.fb-input::-webkit-inner-spin-button,
.fb-input::-webkit-outer-spin-button {
  appearance: none;
}
