.fb-textarea {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  min-height: 2.5rem;
  padding: 0.5rem 0.75rem;
  margin: 0;
  color: var(--theme-base-900);
  font: inherit;
  font-size: var(--fb-text-sm);
  caret-color: var(--theme-base-900);
  resize: vertical;
  background: var(--theme-base-200);
  border: 1px solid var(--theme-base-300);
  border-radius: var(--fb-radius-lg);
}
.fb-textarea:hover {
  border-color: var(--theme-base-400);
}
.fb-textarea:focus {
  border-color: var(--theme-base-500);
  outline: none;
}
.fb-textarea::placeholder {
  color: var(--theme-base-600);
}
