@layer frogbot {
  .view-switcher {
    align-items: center;
    border-bottom: 1px solid var(--theme-elevation-150);
    display: flex;
    gap: calc(var(--base) * 1.25);
  }

  .view-switcher__link {
    color: var(--theme-elevation-600);
    padding: calc(var(--base) * 0.5) 0;
    position: relative;
    text-decoration: none;
  }

  .view-switcher__link:hover,
  .view-switcher__link--active {
    color: var(--theme-text);
  }

  .view-switcher__link--active {
    font-weight: 600;
  }

  .view-switcher__link--active::after {
    background: var(--theme-text);
    bottom: -1px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
  }
}
